<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DrawBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB2CAF661EF3CF2B00A8DDBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB2CAF821EF3CF2B00A8DDBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB2CAF8D1EF3CF2B00A8DDBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
